

.post-link {
	opacity: .4;
	color: #4D4D4D;
	text-decoration: none;
}

.about-press-link {
	font-size: 16px;
}

b {
	letter-spacing: -.5px;
	font-family: "proxima_nova_bold"
}

.post-link:hover {
	opacity: 1;
	color: #4D4D4D;
}

.post-header {
	padding-bottom: 60px;
}

.semi-bold {
	font-family: 'proxima_nova_semibold'
}

.title {
	font-size: 2em;
	font-family: 'proxima_nova_bold';
	color: black;
	letter-spacing: -.2px;
	margin-bottom: -15px;
}

.date {
	font-family: 'proxima_novaregular';
}

.post-img {
	width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	padding-bottom: 60px;
}

.post-img-small {
	max-width: 900px;
	width: 100%;
	width: auto\9; /* ie8 */
	height: auto;
	padding-bottom: 60px;
}

.post-img-alt {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
	padding-bottom: 60px;
}

#about-img {
	width: 40%;
	min-width: 300px;
	padding-bottom: 100px;
}

.img-caption {
	margin-top: -78px;
	font-size: .7em;
	text-align: right;
	font-family: 'proxima_novathin_italic';
}

.image-link {
	opacity: .5;
}

.image-link:hover {
	opacity: 1;
}

.text-container {
	width: 100%;
	max-width: 620px;
	text-align: left;
	padding-bottom: 60px;
}

#about-text-container {
	width: 100%;
	max-width: 450px;
	text-align: center;
	font-size: 16px;
}

.text-container-below-header {
	width: 100%;
	max-width: 620px;
	text-align: left;
	padding-bottom: 60px;
	margin-top: -45px;
}

.text-title {
	font-size: 1.6em;
	font-family: 'proxima_nova_bold', 'helvetica', 'arial', 'sans-serif';
	color: black;
}

#about-text-title {
	font-size: 32px;
	font-family: 'proxima_nova_bold', 'helvetica', 'arial', 'sans-serif';
	color: black;
}
.text {
	text-align: left;
	width: 100%;
}

#about-text {
	text-align: center;
	width: 100%;
}

#about-text-footer-text {
	font-size: 14px;
	font-family: "proxima_novathin_italic";
	letter-spacing: .25px;
}

.line-break {
	width: 100px;
	border:1px solid #4D4D4D;
	margin-bottom: 60px;
}



#about-line-break {
	margin-top: 100px;
	max-width: 450px;
	width: 90%;
	border: none;
	height: 1px;
	color: #D8D8D8;
	background-color: #D8D8D8;
	margin-bottom: 60px;

}
@media all and (max-device-width : 375px) { 

/*	.date {
		font-family: 'proxima_novaregular';
		font-size: .8em;
	}*/


	.text-container {
		max-width: 90%;
		/*background-color: blue;*/
		text-align: left;
		padding-bottom: 60px;
	}
}

